#은 주석의 역할을 한다.
#폴더 : /폴더명 (예 : /docs)
#파일 : 파일명.확장자 (예 : test.txt)
#폴더 안 파일 : /폴더명/파일명.확장자 (예 : /docs/test.txt)
#폴더 안 특정 확장자 파일 전부 (예 : /docs/*.text)
#폴더 하위 모든 특정 확장자 파일 전부 (예 : /docs/**/*.txt)

node_modules/
build/
dist/