@import "./colorVaration.css";

.header {
  border-bottom: 1px solid var(--color-lineLightGray);
  height: 162px;
  overflow: hidden;
}
.headerWrapper {
  margin: 0 auto;
  max-width: 1224px;
  height: 162px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  /* opacity: 0.5; */
  padding: 0 20px;
  box-sizing: border-box;
}

.headerWrapper .miniMenuWrapper {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 36px;
}
.headerWrapper .miniMenuWrapper .miniMenuLink,
.headerWrapper .miniMenuWrapper .miniMenuLogin {
  display: flex;
}

.headerWrapper .miniMenuWrapper .miniMenuLink li a,
.headerWrapper .miniMenuWrapper .miniMenuLogin li a {
  font-size: 14px;
  color: #666666;
}

.headerWrapper .miniMenuWrapper .miniMenuLink li:not(:last-child)::after,
.headerWrapper .miniMenuWrapper .miniMenuLogin li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: var(--color-lineLightGray);
  margin: 0 10px;
}

.topMenuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topMenuWrapper .topMenuLogo img {
  width: 158px;
  /* padding-right: 100px; */
  transform: translateY(4px);
}

.topMenuWrapper .topMenuCenter {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  flex-grow: 1;
  font-size: 20px;
  font-weight: 600;
  color: #111;
}
.topMenuWrapper .topMenuCenter a:hover {
  color: #2090ff;
  border-bottom: 3px solid #2090ff;
}

.topMenuIcons {
  display: flex;
  gap: 10px;
}
.topMenuSearch,
.topMenuBurger {
  display: block;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  text-indent: -9999px;
  background: url(/public/mainIcon01.png) no-repeat center/cover;
}
.topMenuBurger {
  background: url(/public/mainIcon02.png) no-repeat center/cover;
  border: none;
}

@media (max-width: 900px) {
  .headerWrapper {
    height: 90px;
  }
  .topMenuWrapper .topMenuCenter {
    display: none;
  }

  .header .miniMenuWrapper {
    display: none;
  }
  .topMenuWrapper {
    padding-top: 30px;
  }
  .header {
    border-bottom: none;
    height: 90px;
  }
}
